.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1184px;
    font-family: 'Inter',Arial, sans-serif;
    background-color: #2A2C2F;
}
@media screen and (max-width: 1280px) {
    .comments {
        box-sizing: border-box;
        padding: 0 24px;
    }
}
@media screen and (max-width: 1024px) {
    .comments {
        padding: 0 48px;
    }
}
@media screen and (max-width: 375px) {
    .comments {
        padding: 0 16px;
    }
}