/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
/*HEADER*/
html, body {
    font-family: 'ptsans', sans-serif;
}

.header__main {
    background-color: #00a651;
    color: #ffffff;
    height: 50px;
    padding: 0;
    margin: 0px;
    position: relative;
    z-index: 10000;
}
.header__main__conteiner{
	  width: 1440px;
    margin: 0 auto;
	  display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-top__logo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 13px;
}
.header-top__city {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
		font-size: 18px;
		font-weight: 600;
}

.header-top__line {
    width: 1px;
    height: 50px;
    border-left: 1px solid #ffffff;
}

.header-top__phone-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 0;
}
.header-top__callback {
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top__callback-link {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #fffbf8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top__callback-link span {
    display: block;
    margin: 0 0 0 7px;
}
.header-top__route {
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top__route-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 0;
}
.header-top__socials {
    padding: 0;
    height: 50px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.header-top__socials-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 13px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top__login {
    padding: 0 12px 0 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.header-top__login a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 0;
}
.header__page-header {
    margin: -43px 0 0 0;
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 408px;
    flex-direction: column;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 54px;
    font-weight: 900;
}
h3{
  margin-top: 20px;
  color: #ffffff;
font-family: Raleway;
font-size: 27px;
font-weight: 500;
}
/*--------------------*/

/*NAVBAR*/
.nav_bg {
    background: url(/Users/n.s.ignatov/Downloads/territory/territory/img/bg_booking.png) center center no-repeat;
    background-size: cover;
    height: 480px;
    width: 100%;
    border: none;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    align-content: stretch;
}
.nav_container {
width: 1440px;
    margin: 0 auto;
}
.nav_wrapper {
    z-index: 160;
    position: relative;
    margin: 20px 0 0 0;
}
.nav_wrapper_container {
    padding: 0px;
    text-align: center;
}
.navigation {
    border-radius: 20px;
    box-shadow: 0 2px 12px 0 rgba(153, 153, 153, 0.33);
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    overflow: hidden;
    width: auto;
    display: inline-block;
}
nav{
    width: auto;
    margin: 0 auto;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    width: auto;
    height: 60px;

}
.menu li:last-child{
  border: none;
}
.nav_item {
    text-align: center;
    width: 150px;
    height: 60px;
    border-right: 1px solid #d3d3d3;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
.nav_item a{

    display: table-cell;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #000000;
    text-decoration: none;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    margin: 0;
}
.pink a{
      color: #ed0080;
}
 .menu li a:focus,
 .menu li a:active,
 .menu li a:hover,
 .menu li.pink a:hover {
 color: #ffffff;
 background-color: #00a651; }
.page_name{
  margin-left: 80px;
  margin-top: 100px;
}

h1{
text-shadow: 0 3px 6px rgba(0, 0, 0, 0.44);
color: #ffffff;
font-family: "Gotham Pro";
font-size: 41px;
font-weight: 900;
}
/*--------------------*/
/*main header*/
.header_bg{
    background-image: url(../img/spaceman.svg);
    background-size: 800px 685px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    right: 0;
    width: 800px;
    height: 700px;
    z-index: -100;

}
.territory_conteiner {
    width: 1440px;
    margin: 0 auto;
    /* height: 80vh; */
    /* margin-left: 50px; */
    margin-top: 50px;
    margin-bottom: 150px;
    padding-left: 50px;
}

.territory_conteiner_logo img{
  margin-bottom: 50px;
}
.territory_conteiner_header{
    text-align: left;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #363943;
    margin: 10px;
    position: relative;
}
.territory_conteiner_subheader{
    font-size: 22px;
    line-height: 1.45;
    letter-spacing: 0.5px;
    color: #000000;
    margin: 10px;
}
.territory_conteiner_buttons{
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.green_small_btn{
    border-radius: 44px;
    background-color: #00a651;
    color: #ffffff;
    display: inline-block;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 12px 0 rgba(56, 72, 95, 0.49);
    text-decoration: none;
    vertical-align: middle;
    line-height: 1.3;
    border: 0;
    cursor: pointer;
    z-index: 100;
    margin-right: 30px;

}
.white_small_btn{
    border-radius: 44px;
    display: inline-block;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 12px 0 rgba(56, 72, 95, 0.49);
    text-decoration: none;
    vertical-align: middle;
    line-height: 1.3;
    border: 0;
    cursor: pointer;
    z-index: 100;
}
#header_green_bth{
 margin-left: 40px;   
}
.green_big_btn{
  border-radius: 44px;
  background-color: #00a651;
  color: #ffffff;
  display: inline-block;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px 12px 0 rgba(56, 72, 95, 0.49);
  text-decoration: none;
  vertical-align: middle;
  line-height: 1.3;
  border: 0;
  cursor: pointer;
  z-index: 100;
  margin-right: 20px;
  margin-left: 20px;
}
.about_territory{
width: 1080px;
margin: 0 auto;

}
h4{
  text-align: center;
color: #1ba831;
font-size: 44px;
font-weight: 900;
margin-bottom: 20px;
}
.about_territory p{
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  line-height: 26px;
}
.choose_game_bg{
  position: relative;
  background-image: url(../img/bg3.png);

  width: 1440px;
  height: 1500px;
  background-repeat: no-repeat;
  background-position-x: -282px;
  background-position-y: -20px;
  background-size: cover;
  padding-top: 100px;
}
.choose_game_container{
  width: 1440px;
  margin: 0 auto;
}
.choose_game_section{
  width: 1240px;
  margin: 0 auto;
  padding: 30px 0;
  z-index: 2;
}
.choose_game_container_header{
  margin: 60px 0 70px 0;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #1ba831;
  line-height: normal;
  z-index: 1;
  position: relative;
}
.choose_game_container_block{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    /* display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "choose_game_container_block_single choose_game_container_block_single choose_game_container_block_single choose_game_container_block_single"
      "choose_game_container_block_single choose_game_container_block_single ";
  grid-gap: 20px; */
  
}
.choose_game_container_avatar {
  border-radius: 20px;
  width: 155px;
}
.choose_game_container_block_single{
    /* height: 536px; */
    display: flex;
    flex-direction: column;
    

    width: 320px;
    margin: 0 15px 80px 15px;
    border-radius: 39px;
    box-shadow: 0 0 15px 0 rgba(41, 48, 55, 0.5);
    border: 5px solid #ffffff;
    background-color: #ffffff;
}

.choose_game_container_block_single_header{
color: #1ba831;
font-size: 34px;
font-weight: 900;
padding: 5px;
}
.choose_game_container_block_single_text{
  font-size: 18px;
  letter-spacing: 0.1px;
  color: #1d1d1d;
  margin: 40px 0;
  padding: 5px;
}
.choose_game_container_block_single_btn{
    margin: 20px auto;
}

/*--------------------*/
/*contacts*/

.page_content{
  margin-top: 30px;
}
.page_contacts_info_bg{
  background-color: #f2f2f2;
  padding-top: 5px;
}
.page_contacts_info{
    width: 1088px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f2f2f2;
}
.info_column {
    position: relative;
    max-width: 400px;
}
h2{
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #363943;
    margin: 0 0 10px 0;
    position: relative;
}
.info_column_header {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #363943;
    margin: 0 0 10px 0;
    position: relative;
  }
.info_column_description {
    font-size: 22px;
    line-height: 1.45;
    letter-spacing: 0.5px;
    color: #000000;
    margin: 0 0 15px 0;
}
.info_column_description a {
    color: #363943;
    text-decoration: none;
    outline: none;
    display: inline-block;
}
.info_geo:before {
    content: "";
    position: absolute;
    left: -33px;
    top: 0;
    width: 21px;
    height: 29px;
    background: url(/Users/n.s.ignatov/Downloads/territory/territory/img/icons/address.svg) center center no-repeat;
}
.info_telephone:before {
    content: "";
    position: absolute;
    left: -34px;
    top: 3px;
    width: 22px;
    height: 22px;
    background: url(/Users/n.s.ignatov/Downloads/territory/territory/img/icons/phone-green.svg) center center no-repeat;
}
.info_email:before {
    content: "";
    position: absolute;
    left: -35px;
    width: 23px;
    height: 23px;
    background: url(/Users/n.s.ignatov/Downloads/territory/territory/img/icons/email.svg) center center no-repeat;
}
.info_time:before {
    content: "";
    position: absolute;
    left: -36px;
    top: 3px;
    width: 24px;
    height: 24px;
    background: url(/Users/n.s.ignatov/Downloads/territory/territory/img/icons/time.svg) center center no-repeat;
}

/*--------------------*/


/* Новости */
.news {
    display: flex;
    flex-direction: row;
}
.news__title_slider {
    text-align: center;
    font-size: 22pt;
    font-weight: 800;
    margin-bottom: 20px;
}
.news__list {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.news__list_photo {
    border: 2px solid black;
    margin-bottom: 20px; 
    height: 190px;
}
.news__button {
    width: 350px;
    margin-left: 108px;
    margin-right: 0;
}

/*FOOTER*/
.footer__main {
    background-color: #00a651;
    color: #ffffff;
    padding: 0 0 50px 0;
    margin: 0;
    position:  static;
    width: 100%;
    bottom: 0;
}
.container-small {
    width: 860px;
    margin: 0 auto;
}
.footer__main:before {
    content: "";
    display: block;
    height: 60px;
    background: #f2f2f2 url(/Users/n.s.ignatov/Downloads/territory/territory/img/icons/footer-line-green.svg) center bottom no-repeat;
    background-size: 100% 60px;
}
.footer__logo {
    text-align: center;
    display: block;
    margin: 10px auto;
}
.footer__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 50px 0 0 0;
    width: 100%;
}
.footer__navigation-centered {
    width: 280px;
    margin: 170px auto 0;
   text-align: center;

}
.footer__navigation-header {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin: 0 0 20px 0;
}
.footer__navigation-item {
    text-align: left;
}
.footer__navigation-item ul {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    display: block;
}
.footer__navigation-item ul li {
    margin: 0 0 16px 0;
}
.footer__navigation-item ul li a {
    display: block;
    padding: 8px 0;
    height: 18px;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-decoration: none;
}

.footer__socials {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

    .footer__socials-link {
    margin: 0 10px 0;
}
.footer__sublinks {
    margin: 50px 0;
}
.footer__sublinks ul li a{
    display: inline-block;
    text-align: center;
    display: block;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
.footer__copyright {
    color: #ffffff;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
/*--------------------*/
