.video__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    max-width: 800px;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .video__title {
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width: 500px) {
    .video__title {
        font-size: 32px;
        line-height: 35px;
    }
}